@import './../../style/_variable';

.app {
  margin-top: 50px;
  width: 900px;
}

.app_panel {
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 25px;
  background: $main;
  border-radius: 4px;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.15);
  color: #fff;
}

.title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: $main;
  font-weight: 700;
}