@import './../../../style/_variable';

.image {
  width: 350px;
  border: 15px solid #fff;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 0.25);
}

.list {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 0;
  color: $black;
  font-size: 20px;
  list-style: none;

  li::before {
    display: inline-block;
    width: 1em;
    margin-left: 3px;
    color: $main;
    font-weight: 700;
    content: '\2714';
  }
}

.info {
  color: $black;
  font-size: 24px;
  line-height: 2;

  &__last {
    margin-top: 30px;
    font-size: 24px;
    line-height: 2;
  }
}

.label {
  color: $main;
}

.character_item {
  text-align: center;
}
