@import './../../../style/_variable';

.list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 30px;
  list-style: none;
}

.item {
  font-size: 12px;
}

.button {
  box-sizing: border-box;
  width: 100%;
  max-width: 240px;
  padding: 1rem;
  color: $black;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid $black;
  cursor: pointer;
  transition: all ease-in-out 0.25s;
}

.button:hover {
  color: $main;
  background: transparent;
  border: 1px solid $main;
  outline: none;
  transition: all ease-in-out 0s;
}

.button:active {
  padding: 1.05rem 1rem calc(0.95rem - 1px) calc(1rem - 1px);
  color: $main;
  background: transparent;
  border: 1px solid $main;
  border-top: 2px solid;
  border-right: 2px solid;
  outline: none;
  transition: all ease-in-out 0s;
}

.link {
  text-decoration: none;
}
