@import './../../style/_variable';

.search_panel {
  position: relative;
}

.input {
  padding-left: 40px;
}

.search_icon {
  position: absolute;
  top: 11px;
  left: 11px;
  width: 24px;
  height: 24px;
  color: $main;
}
