@import './../../style/_variable';

header {
  width: 100%;
  background: $main;
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 3rem;
  color: $bg;
  font-weight: 600;
  font-size: 24px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  margin-left: 15px;
}
