@import './../../style/_variable';

.header {
  grid-area: header;
  width: 100%;
  background: $dark;
}

.header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 3rem;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  margin-left: 1rem;
  color: $bg;
  font-weight: 600;
  font-size: 1.5rem;
}

.link {
  color: $bg;
  text-decoration: none;

  &:hover {
    color: $bg !important;
  }
}

.active {
  padding-bottom: 3px;
  color: $bg !important;
  border-bottom: 3px solid $bg;
}

.logo {
  display: block;
  width: 250px;
  height: auto;
  margin-top: -15px;

  @media (max-width: 991px) {
    width: 150px;
  }
}
