@import './variable.scss';

*,
*::before,
*::after,
:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  color: $black;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $bg;
}
